.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0;
  padding: 0;

}
.title
{
  width: 100%;
  font-size: 22px;
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  height: fit-content;
  background-color: black;
  color: white;
  position: fixed;
  z-index: 1;
}

.newsContainer
{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.newsContainer .article
{
  width: 700px;
  border: 2px solid black;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
 
}

.newsContainer .article img
{
  max-width: 400px;
  max-height: 400px;
}

.newsContainer .article p
{
 width: 600px;
}
.card-title
{
  font-weight: bold;
}
h4{
  font-size: 18px;
}
.card
{
  margin-bottom: 5rem;
  border: 4px solid black;
  margin-right: 54px;
  width:38rem;
  height: 38rem;
}

.card-img-top
{
  height: 100%;
}
#news-summary
{
  font-size: 0.8rem;
}
#Error-div
{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Error-div>p{

color: red;
font-weight: bold;
}

.card:nth-child(1) {
 
  margin-top: 6rem;
}

.card:nth-child(2) {
  
  margin-top: 6rem;
}


@media (max-width: 800px) {
.card{
  height: fit-content;
  margin-right: 0px;
  width: 23rem;
}

.card:nth-child(1) {
 
  margin-top: 4rem;
}
.card:nth-child(2) {
 
  margin-top: 0;
}


}

@media (max-width: 380px) {
  .card{
   
    width: 20rem;
  }
  
  }